body {
  padding: 0%;
  border: 0%;
  background: linear-gradient(75deg,#0d0e0d 0% ,white  35% 65%, #0d0e0d 100%);
  height: 100vh;
}

header {
  border: 1px solid;
  text-align: center;
}

section h2 {
  border: 1px solid;
  margin: 10px;
  text-align: center;
}

h2, a {
  text-align: center;
}


/* creacion de clase que contiene el titulo y los divs de cada juego */

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.contenedor h2{
  border: 0;
  font-size: 30px;
}

.container{
  display: flex;
  flex-direction: row;
  
}

/* aplicacion de media */

@media (max-width:800px) {
  .container{
    display: flex;
    flex-direction: column;
  }
}


/* agremamos esta nueva clase para centrar el enlace compra */

.game-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 1.3rem;
  border: 2px solid;
  margin: 5px;
}

.game-cont > div:hover {
  transform: scale(1.05); /* Aplica una escala para agrandar el elemento */
  transition: transform 1s;

}

.nintendo:hover {
  background-color: rgb(255, 17, 0, 0.5); /* Cambia el fondo al pasar el mouse sobre el elemento */
}
.play:hover {
  background-color: rgb(56, 182, 255,0.5); /* Cambia el fondo al pasar el mouse sobre el elemento */

}


.game-cont div {
  display: flex;
  flex-direction: column;

  padding: 10px;
  height: 90%;

}

.game-cont a {
   text-align: center;
   
 }

 .game-cont > h3 {
  text-align: center;
  
 }


.game-cont div {
    padding-top: 10px;
  }

div img,div p, .game-cont a {
  max-width: 300px;
  width: 100%;
  height: auto;
  text-align: center;
}
div img {
  border-radius: 0.3rem;
}

a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

/* Estilos adicionales para hacer los enlaces más visibles */
a:hover {
font-size: 20px;
color: rgb(239, 26, 247);
}

footer {
  text-align: center;
}
