body {
  padding: 0%;
  border: 0%;
}

header {
  border: 1px solid;
  text-align: center;
}

section {
  border: 1px solid;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2, a {
  text-align: center;
}

.game-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.game-cont h3, .game-cont div, .game-cont img, .game-cont p, .game-cont a {
  max-width: 300px;
  width: 100%;
  height: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

/* Estilos adicionales para hacer los enlaces más visibles */
a:hover {
  color: red;
}

footer {
  text-align: center;
}