@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* estilos del body */
body{
    background-color: #E11364;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.contenedor{
    background-color: #BC105C;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    justify-content: center;
    margin: 20px 70px;
    padding: 0 10px 50px 10px;
}

.contenedor h2{
    margin-top: 25px;
}

h1{
    background-color: #BC105C;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    color: #fff;
    font-size: 2rem;
    height: 60px;
    margin: 30px 70px;
    padding: 0;
    text-align: center;
}

.game-cont{
    background-color: #fff;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 5px 0px;
    padding: 0;
    width: 100%;
}

.game-cont h3{
    border-bottom: dotted #BC105C;
    color: #BC105C;
    font-size: 1rem;
    margin: 30px 10px 10px 10px;
    padding: 0px;
    text-align: end;
}

.game-cont img{
    margin: 10px 10px 5px 10px;
    padding: 0;
}

.game-cont p{
    color: #000;
    font-size: .75rem;
    font-weight: 400;
    margin: 10px 10px;
}

a{
    align-items: center;
    align-self: center;
    background-color: #2A891F;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    width: 120px;
}

a:hover{
    background-color: #BC105C;
}


/* estilos del footeer */
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E96093;
    color: #fff;
    font-size: .75rem;
    text-align: center;
    height: 50px;
    margin: 20px 70px;
    padding: 0 30px;
    border-radius: 10px;
}
